# ملفات نظام Jetson أو بيئة التطوير
__pycache__/
*.pyc
*.pyo
*.log
*.whl
*.deb
*.mp4
*.ogv
*.jpg
*.png
*.avi
*.gif
*.tar
*.tar.gz
*.zip

# مجلدات كبيرة لا تحتاج للرفع
torch-1.*.whl
vscode.deb
Videos/
Pictures/
Music/
Public/
Templates/
yolov5/
onnx/
DeepStream-Yolo/
neuroedgeflow/
go/
